# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is:<menu>, "    <menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

# Plugins, "Split Channels", com.mycompany.imagej.Split_Channels
# Plugins, "Merge Channels", com.mycompany.imagej.Merge_Channels
# Plugins, "Peer To Peer Operations", com.mycompany.imagej.Peer_To_Peer_Operations
# Plugins, "Convert RGB to Grey", com.mycompany.imagej.Convert_Rgb_To_Grey
# Plugins, "Histograma", com.mycompany.imagej.Histograma_
# Plugins, "Filtros Lineares", com.mycompany.imagej.Filtros_Lineares
# Plugins, "Sobel Mediana", com.mycompany.imagej.Sobel_Mediana
Plugins, "Operações Morfológicas Binárias", com.mycompany.imagej.Operacoes_Morfologicas_Binarias